/embedded-jetty/build/
/embeded-tomcat/build/
/build/
/server-base/build/
/server-jetty/build/
/server-ant-base-embedded/build/
/server-ant-base-embedded/nbproject/private/
/embedded-ant-jetty/build/
/embedded-ant-jetty/nbproject/private/
/jetty-9-OLD-command-manager/jetty-9-ANT-command-manager/build/
/jetty-9-OLD-command-manager/jetty-9-ANT-command-manager/dist/
/jetty-9-OLD-command-manager/jetty-9-ANT-command-manager/nbproject/private/
/jetty-9-command-manager/build/
/jetty-9-command-manager/dist/
/jetty-9-command-manager/nbproject/private/
/jetty-embedded-command-manager/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/JavaApplication11/nbproject/private/
/JavaApplication11/build/
/JavaApplication11/dist/
/ApplicationTemplateAnt/nbproject/private/
/JavaLibrary4/nbproject/private/
/JavaLibrary5/nbproject/private/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/mavenproject3/target/
/WebApplication1/dist/
/server-base-embedded/build/