#
# Initialize module spdy
#
--module=spdy

## SPDY Configuration
# Port for SPDY connections
spdy.port=8443
# SPDY idle timeout in milliseconds
spdy.timeout=30000
# Initial Window Size for SPDY
#spdy.initialWindowSize=65536
